<section id="about">
  <h1>About</h1>
  <p>I'm <strong>Ryan Hamilton</strong>, a New York City based interface designer and developer.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div id="instagram"></div>
</section>

<section id="work">
  <h1>Work</h1>
  <p>Read up on what work I've been doing on <a href="http://resume.ryanahamilton.com" rel="me">my resume</a>. View the <a href="https://github.com/ryanahamilton/ryanahamilton">source for this site</a> and other development work on <a href="https://github.com/ryanahamilton" rel="me">GitHub</a>.</p>

  <h2>A Selection of some of my recent work.</h2>

  <div>
    <a href="/work/beermenus" rel="facebox" title="Project Details">
      <img src="/images/work/beermenus-thumb.jpg" alt="BeerMenus" />
      <h3>BeerMenus</h3>
      <p>Beer Lovers Rejoice</p>
    </a>

    <a href="/work/coachhub" rel="facebox" title="Project Details">
      <img src="/images/work/coachhub-thumb.jpg" alt="CoachHub" />
      <h3>CoachHub</h3>
      <p>Elated Soccer Moms</p>
    </a>

    <!-- <a href="/work" rel="facebox" title="Project Details"><img src="/images/work/temp-thumb.png" alt="" /><h3>lorem ipsum</h3><p>dolor sit amet</p></a>
    <a href="/work" rel="facebox" title="Project Details"><img src="/images/work/temp-thumb.png" alt="" /><h3>lorem ipsum</h3><p>dolor sit amet</p></a> -->

    <a href="https://github.com/ryanahamilton" rel="me" title="Ryan's GitHub Profile">
      <img src="/images/work/github-thumb.png" alt="GitHub" />
      <h3>GitHub</h3>
      <p>The Source</p>
    </a>

    <a href="http://dribbble.com/ryanahamilton" rel="me" title="Ryan's Dribbble Profile">
      <img src="/images/work/dribbble-thumb.png" alt="Dribbble" />
      <h3>Dribbble</h3>
      <p>See My Latest Shots</p>
    </a>
  </div>
</section>