<h1>BeerMenus</h1>
<p class="meta">design + development</p>
<p><a href="http://beermenus.com/">Visit BeerMenus.com</a></p>
<p>Web app that helps craft beer drinkers find their favorite beers and great craft beer venues nearby.</p>

<ul>
  <li>Created the geolocation driven mobile web app (<a href="http://jquerymobile.com/" target="_blank">jQuery Mobile</a>, <a href="http://rubyonrails.org/" target="_blank">RoR</a>) for BeerMenus that helps craft beer drinkers find their favorite beers and great craft beer venues on the go.</li>
  <li>Continuing to do additional work on the mobile interface as well as updates to the website.</li>
</ul>