<h1>CoachHub</h1>
<p class="meta">design + development</p>
<p>A communications platform for youth-sports coaches and parents.</p>

<ul>
  <li>Designed/built the UI of the web application (excluding marketing pages) and the mobile version (jQuery Mobile) of the site.</li>
  <li>Designed the CoachHub logo.</li>
  <li>Currently redesigning the application with a responsive design to better serve the overwhelming mobile usage.</li>
</ul>